<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Pessoas</title>

<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
</head>

<body>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Codigo</th>
				<th scope="col">Nome</th>
				<th scope="col">Serie</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<!-- Fazendo um for each para que seja impresso as pessoas presentes no banco -->
			<tr th:each="pessoa : ${listaDePessoas}">
				<td th:text="${pessoa.codigo}"></td>
				<td th:text="${pessoa.nome}"></td>
				<td th:text="${pessoa.serie}"></td>
				<td><a
					th:href="@{/pessoa/atualizar/{codigo}(codigo = ${pessoa.codigo})}"
					class="btn btn-warning">Atualizar </a></td>
				<td><a
					th:href="@{/pessoa/excluir/{codigo}(codigo = ${pessoa.codigo})}"
					class="btn btn-danger">Excluir </a></td>

			</tr>
		</tbody>
	</table>

	<script src="/js/bootstrap.min.js"></script>
</body>

</html>